body {
    background-image:none;
    position:static;
    left:auto;
    min-width:1280px;
    text-align:left;

}
#base {
    position:absolute;
    z-index:0;
    left:0;
    right:0;
    /*top: 0;*/
    /*bottom: 0;*/
    margin: auto;
}
.header-title {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: inline;
    font-family: PingFangSC-Semibold, 'PingFang SC Semibold', 'PingFang SC';
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    height: auto;
    line-height: normal;
    text-align: left;
    white-space: nowrap;
}

.background-color_golden{
    background-color:#cc6600;
    vertical-align: middle;
}
.banner_desc{
    color: rgb(255, 255, 255);
    display: inline;
    font-family: PingFangSC-Semibold, 'PingFang SC Semibold', 'PingFang SC';
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    height: auto;
    line-height: normal;
    text-align: left;
    white-space: nowrap;
    height: inherit;
}
.banner_item div{
    width: 100px;
    height: 100%;
    box-sizing: border-box;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(121, 121, 121, 1);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(121, 121, 121, 1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(121, 121, 121, 1);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    padding-top: 7px;
}
.left_border{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(121, 121, 121, 1);
}
.banner_item a{
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    color: #0000FF;
}
.banner_user{
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    padding-right: 20px;
}

.banner_item div:hover{
    background-color: #ffffff;
    cursor: hand;
}

.mouseOver {
    border-width:1px;
    background:inherit;
    box-sizing:border-box;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'PingFangSC-Regular', 'PingFang SC';
    font-weight:400;
    font-style:normal;
    color:#0000FF;
}
.mouseOver:hover {
    background-color:rgba(255, 255, 255, 1);
}

.Validform_error{
    /*background-color: red;*/
    border-color: red;
}